.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  transition:
    opacity 0.7s linear,
    visibility 0s linear 0.7s;
  opacity: 0;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition:
    opacity 0.7s linear,
    visibility 0s linear 0s;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  position: relative;
  border-radius: 8px;
}

.modal__caption {
  margin: 0;
  padding: 4px 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  background-color: #212121;
  border-radius: 8px;
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: #fff;
  opacity: 1;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__close-btn_type_preview {
  background-image: url(../images/white-x.svg);
  top: 0;
  right: -52.5px;
  position: absolute;
  background-color: transparent;
}

.modal__close-btn_type_preview:hover {
  background-image: url(../images/black-x.svg);
}

.modal__close-btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.modal__image-container {
  position: relative;
}

.modal__x-icon {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
}

.modal__title {
  margin: 0 0 32px;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 8px;
  display: block;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  color: #212121;
  opacity: 0.7;
}

.modal__input {
  display: block;
  margin: 0;
  border-radius: 8px;
  padding: 16px 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #212121;
  height: 52px;
  box-sizing: border-box;
}

.modal__input:hover {
  border-color: #212121;
}

.modal__input_type_error {
  border: 1px solid #ff0000;
}

.modal__input::placeholder {
  color: #212121;
  opacity: 0.3;
}

.modal__error {
  display: block;
  color: #ff0000;
  margin-top: 8px;
  margin-bottom: 32px;
  font-family: Poppins, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
}

.modal__save-btn {
  max-width: 156px;
  border: none;
  width: 100%;
  height: 52px;
  margin: 0;
  background-color: #000;
  color: #fff;
  border-radius: 8px;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}

.modal__save-btn:not(.modal__save-btn-disabled):hover {
  cursor: pointer;
  opacity: 0.7;
}

.modal__save-btn-disabled {
  opacity: 0.7;
}

@media screen and (max-width: 627px) {
  .modal__save-btn {
    max-width: none;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__close-btn_type_preview {
    right: 0;
    top: -48px;
  }

  .modal_type_preview {
    max-width: unset;
  }

  .modal__container {
    padding: 12px 12px;
  }

  .modal__image {
    width: 100%;
  }

  .modal__title {
    margin: 0 0 24px;
  }

  .modal__input {
    margin: 0 0 24px;
    font-size: 16px;
  }

  .modal__caption {
    font-size: 16px;
  }
}
